

	#cs {

		position: fixed;

		right: 10px;

		bottom: 18vw;

		display: block;

		cursor: pointer;

		width: 24vw;

		z-index: 11111

	}



	footer {

		position: fixed;

		bottom: 0;

		width: 100%;

		box-sizing: border-box;

		display: flex;

		align-items: center;

		padding: 10px;

		background: rgba(0, 0, 0, 0.7);

		z-index: 9999;

	}



	footer img {

		width: 60px;

		margin-right: 5px;

	}



	footer p {

		color: #fff;

		line-height: 20px;

		flex: 1;

		margin: 0px;

	}



	footer p b {

		font-size: 4.5vw;

	}



	footer p span {

		font-size: 3.2vw;

	}



	footer button {

		margin: auto;

		width: 15%;

		height: 8vw;

		border: 0;

		border-radius: 6px;

		background: linear-gradient(to right, #dccab8, #d2b496);

		color: #fff;

		font-size: 30px;

	}



	footer span span {

		font-size: 4vw;

	}



	footer button:active {

		opacity: 0.8;

	}



	.alert {

		position: fixed;

		top: 0;

		bottom: 0;

		left: 0;

		right: 0;

		height: 100%;

		z-index: 9;

	}



	.alert .content {

		width: 80vw;

		height: 25vw;

		background: #fff;

		border-radius: 10px;

		position: absolute;

		z-index: 11;

		margin: auto;

		top: 50vw;

		margin: auto;

		left: 0;

		right: 0;

	}



	.alert .bg {

		width: 100%;

		position: absolute;

		top: 0;

		bottom: 0;

		left: 0;

		right: 0;

		background: rgba(0, 0, 0, 0.5);

		z-index: 10;

	}



	.alert .content p {

		font-size: 4.2vw;

		padding: 3vw 4vw 0;

		word-break: break-all;

	}



	.alert .content p span {

		font-size: 4.5vw;

		color: #0c8af1;

		display: inline;

	}



	.alert .content .close {

		position: absolute;

		font-size: 4.2vw;

		color: #0c8af1;

		bottom: 15px;

		right: 5px;

		padding: 0 10px;

	}



	.alert_qq {

		position: fixed;

		top: 0;

		bottom: 0;

		left: 0;

		right: 0;

		height: 100%;

		z-index: 9;

	}



	.alert_qq .content {

		width: 80vw;

		height: 25vw;

		background: #fff;

		border-radius: 10px;

		position: absolute;

		z-index: 11;

		margin: auto;

		top: 50vw;

		margin: auto;

		left: 0;

		right: 0;

	}



	.alert_qq .bg {

		position: absolute;

		top: 0;

		bottom: 0;

		left: 0;

		right: 0;

		background: rgba(0, 0, 0, 0.5);

		z-index: 10;

	}



	.alert_qq .content p {

		font-size: 4.2vw;

		padding: 3vw 4vw 0;

		word-break: break-all;

	}



	.alert_qq .content p span {

		font-size: 4.5vw;

		color: #0c8af1;

		display: inline;

	}



	.alert_qq .content .altims {

		position: absolute;

		font-size: 4.2vw;

		color: #0c8af1;

		bottom: 15px;

		right: 5px;

		padding: 0 10px;

	}



	.float {

		display: flex;

		width: 100%;

	}



	.icon {

		display: flex;

		color: #fff;

		align-items: center;

	}



	.icon img {

		width: 15%;

	}



	.icon span {

		font-size: 25px;

	}



	.activity {

		width: 100%;

		flex: 1;

		color: #fff;

		margin: auto;

		text-align: center;

	}



	.copy {

		font-size: 15px;

	}



	.container .btns {

		display: flex;

	}



	.screen-img {

		padding: 0 20px 20px 20px;

	}

